<template>
    <div>
        <div class="w-7/12 mx-auto">
        <h1 class="text-3xl font-bold my-6">Edit Student</h1>
        <form @submit.prevent="updateStudent">
            <div>
                <label class="my-3 font-bold" for="">StudentName</label>
                <br>
                <input type="text" required v-model="studentInfo.studentName"
                    class="bg-gray-100 mt-2 pl-3 p-2 w-96 outline-none border-none rounded-md" />
            </div>
            <div>
                <label class="my-3 font-bold" for="">Phone</label>
                <br>
                <input type="text" required v-model="studentInfo.phone"
                    class="bg-gray-100 mt-2 pl-3 p-2 w-96 outline-none border-none rounded-md" />
            </div>
            <div>
                <label class="my-3 font-bold" for="">Email</label>
                <br>
                <input type="text" required v-model="studentInfo.email"
                    class="bg-gray-100 mt-2 pl-3 p-2 w-96 outline-none border-none rounded-md" />
            </div>
            <div>
                <label class="my-3 font-bold" for="">Sex</label>
                <br>
                <select required v-model="studentInfo.gender"
                    class="bg-gray-100 mt-2 pl-3 p-2 w-96 outline-none border-none rounded-md">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div>
                <button
                    class="bg-blue-500 p-3 px-4 mt-3 rounded-full text-white hover:bg-blue-600 transition-all duration-150 ease-out my-2">Submit</button>
            </div>
        </form>

        <hr>


    </div>
    </div>
</template>

<script>
import { doc, getDoc, updateDoc } from 'firebase/firestore';

import { projectFireStore } from '~/config/config';


export default {
    data() {
        return {
            id: null,
            studentInfo: {
                studentName: null,
                phone: null,
                email: null,
                gender: null
            },
            selectPost: [],
            docRef: null,
        }
    },

    methods: {
        async getStudent(){
            try{
                const postRef = doc(projectFireStore, "student",this.id)
                this.docRef = postRef
                const postSnapshot = await getDoc(this.docRef)
                if(postSnapshot.exists()){
                    this.selectPost = postSnapshot.data();
                    this.studentInfo.studentName = this.selectPost.studentName;
                    this.studentInfo.phone = this.selectPost.phone;
                    this.studentInfo.email = this.selectPost.email;
                    this.studentInfo.gender = this.selectPost.gender;
                }
            }
            catch(err){
                console.log(err)
            }
        },
        async updateStudent(){
            try{
                await updateDoc(this.docRef, this.studentInfo)
                this.$router.push("/");
            }
            catch(err){
                console.log(err)
            }

        }
    },
    created() {
        this.id = this.$route.params.id;
        this.getStudent();
    },
}
</script>

<style>

</style>