<template>
    <div class="w-7/12 mx-auto">
        <h1 class="text-3xl font-bold my-6">Studend Crud</h1>
        <form @submit.prevent="handleSubmit">
            <div>
                <label class="my-3 font-bold" for="">StudentName</label>
                <br>
                <input type="text" required v-model="studentName"
                    class="bg-gray-100 mt-2 pl-3 p-2 w-96 outline-none border-none rounded-md" />
            </div>
            <div>
                <label class="my-3 font-bold" for="">Phone</label>
                <br>
                <input type="text" required v-model="phone"
                    class="bg-gray-100 mt-2 pl-3 p-2 w-96 outline-none border-none rounded-md" />
            </div>
            <div>
                <label class="my-3 font-bold" for="">Email</label>
                <br>
                <input type="text" required v-model="email"
                    class="bg-gray-100 mt-2 pl-3 p-2 w-96 outline-none border-none rounded-md" />
            </div>
            <div>
                <label class="my-3 font-bold" for="">Sex</label>
                <br>
                <select required v-model="gender"
                    class="bg-gray-100 mt-2 pl-3 p-2 w-96 outline-none border-none rounded-md">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div>
                <button
                    class="bg-blue-500 p-3 px-4 mt-3 rounded-full text-white hover:bg-blue-600 transition-all duration-150 ease-out my-2">Save</button>
            </div>
        </form>

        <hr>
    
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            StudentName
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Phone
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Sex
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="doc in documents" :key="doc" class="bg-white dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-2">
                            {{ doc.studentName }}
                        </td>
                        <td class="px-6 py-2">
                            {{ doc.email }}
                        </td>
                        <td class="px-6 py-2">
                            {{ doc.gender }}
                        </td>
                        <td class="px-6 py-2">
                            {{ doc.phone }}
                        </td>
                        <td>
                            <button @click="handleDelete(doc.id)" class="bg-red-500 text-white hover:bg-red-600 transition-all divide-gray-500 ease-in-out p-1 px-4 rounded-md">Delete</button>
                            <NuxtLink :to="{ path: `student/edit/${doc.id}`}" class="bg-blue-500 text-white hover:bg-blue-600 transition-all divide-gray-500 ease-in-out p-1 px-4 rounded-md">Edit</NuxtLink>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
import useCollection from '../firebase/useCollection'
import getCollection from '../firebase/getCollection'
import { document } from 'postcss'

export default {

    setup() {

        const studentName = ref("")
        const phone = ref("")
        const email = ref("")
        const gender = ref("")

        const { addDocs } = useCollection("student")
        const {deleteDocs} = useCollection("student")
        const handleSubmit = async () => {

            const data = {
                studentName: studentName.value,
                phone: phone.value,
                email: email.value,
                gender: gender.value
            }

            await addDocs(data)
            console.log(data)
            clearData();

        }

        function clearData() {
            studentName.value = ""
            phone.value = ""
            email.value = ""
            gender.value = ""
        }

        const { documents } = getCollection("student")

        console.log(documents)

        //handle Delete
        const handleDelete = async(id) => {
            if(window.confirm("Are you sure delete?")){
               try{
                    await deleteDocs(id)
               }
               catch(err){
                console.log(err)
               }
            }
        }

        return { studentName, phone, email, gender, handleSubmit, documents,handleDelete}

    }

}
</script>

<style></style>